
body {
    position: relative;
}
main .dressContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-rows: repeat(10, 200px); */
    justify-content: center;
    gap: 10px;
    padding:0 10px;
}

.dressContainer .dress {
    overflow: hidden;
}

.dressContainer .dress img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* AUTO SCROLL CARDS */
.slideContainer {
    /* height: 250px; */
    margin: auto;
    padding: 8px 0;
    position: relative;
    /* width: 90%; */
    display: grid;
    place-items:center;
    overflow: hidden;
}

.slideContainer::before, .slideContainer::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100% );
    content: '';
    height: 100%;
    width: 15%;
    /* min-block-size: 100dvw; */
    position: absolute;
    z-index: 2;
}

.slideContainer::before {
    left: 0;
    top: 0;
}
.slideContainer::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
main .slideContainer .littleItems {
    display: flex;
    /* height: 200px; */
    width: calc(250px + 18);
    animation: scroll 40s linear infinite;
     perspective: 100px;
}

main .slideContainer .littleItems:hover {
    animation-play-state: paused;
}

/* 
main .littleItems > .lItem:hover {
    transform: translateZ(20px);
} */



@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}

main .littleItems > .lItem {
    width: 120px;
    height: 80px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px gray;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
}

main .littleItems > .lItem > img {
    width: 100%;
    object-fit: cover;
}


.lItem .learnMoreCont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    /* left:-100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(7, 7, 7, 0.4);
     cursor: pointer;
     transition: all 0.5s ease-out;
}

.lItem:hover .learnMoreCont {
    top:0;
}

.lItem .learnMoreCont .learnMore {
    padding: 5px;
    border: 1px solid blue;
    border-radius: 50px;
    font-size: 10px;
    background-color: transparent;
    color: white;
     cursor: pointer;
     position: inherit;
     right: -100%;
}

.lItem .learnMoreCont:hover .learnMore {
    right: 25%;
}

.lItem .learnMore:hover {
    border: none;
    box-shadow: 2px 2px 2px blue;
    background-color: rgb(221, 40, 197);
    color: white;
}

/* Expanded Image View */
.biggerViewContainer {
    /* position: relative; */
    position: fixed;
    width: 100%;
    height: 450px;
    background: rgba(7, 7, 7, 0.5);
    top: 0;
    min-block-size: 100dvw;
    min-block-size: 100vw;
    min-block-size: 100vh;
    transition: all 0.5s ease;
    display: none;
    justify-content: center;
    align-items:center ;
    padding: 25%;
    z-index: 1111;
}

.biggerView {
    position: relative;
    z-index: 1;
    top: -12px;
    width: 100%;
    height: 90vh;
    background: aliceblue;
    color: black;
    transition: all 0.5s ease;
    overflow:hidden ;
    border-radius:10px;
    box-shadow: 2px 2px 4px rgb(13, 24, 34);
}

.BVCloseBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    color: black;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    z-index: 1;
}

.fa-info-circle {
    position: absolute;
    top: 93.5%;
    left: 5px;
    color: black;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 30px;
    height: 30px;
    font-weight: bold;
    z-index: 1;
}

.BVCloseBtn:hover {
    background: rgba(128, 128, 128, 0.5);
    color: aliceblue;
    border:1px solid aliceblue;
}

.biggerView .imgInfoAndImg {
    display: grid;
    grid-template-columns: 400px 1fr;
    position: relative;
}

/* #expandedImgContainer {
    flex-basis: 65%;
}*/

#imgTextCont {
    padding: 20px;
} 

#expandedImg{
    width: 100%;
    min-block-size: 100dvh;
    min-block-size: 100vh;
} 




@media (max-width:858px) {
    .biggerViewContainer {
    padding: 5%;
}

.BVCloseBtn { 
    width: calc(30px - 50%);
    height: calc(30px - 50%);
    font-size: calc(30px - 65%);
    padding:calc(10px- 75% );
}

/* #expandedImg {
    height: 100%;
    object-fit:cover;
} */
}

/* @media (max-width:500px) {
    .biggerView .imgInfoAndImg {
        flex-direction:column;
    }
} */


@media (max-width:300px) {
    #imgTextCont {
        position: absolute;
        /* top: 380px; */
        top: 100%;
        overflow-y: scroll;
        background: rgba(7, 7, 7, 0.4);
        color: white;
    }
}
