
.landingStyle {
	min-block-size: 100vh;
	min-block-size: 100dvh;
    position: absolute;
    position:relative;
    top: 0;
    width: 100%;
}

/* .bigImages {
    width: 100%;
} */

.bigImages .mainImage {
    width: 100%;
    min-height: 100dvh;
    min-block-size: 100dvh;
    object-fit: cover;
    transition: all 0.5s ease;
}

.leftImg {
    box-shadow: 1px 1px 4px rgb(37, 36, 36);
    width:100%; 
    min-height: 50dvh;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.rightImg {
    box-shadow: 2px 2px 4px rgb(214, 209, 209);
    width:100%; 
    min-height: 50dvh;
    border-radius: 8px;
    transition: all 0.5s ease;
}

header {
	background: transparent;
}

nav > ul > li > a {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    font-family: fantasy;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 1s ease;
}

nav > ul > li > a:hover {
    text-decoration: underline;
    color:aliceblue;
}

.fashionHint {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 300px; 
    margin-left: 20px;
    position:absolute; 
    top:12%; 
    left: 0;
    transition: all 1s ease;
}

.fashionHint2 {
    width: 250px; 
    margin-right: 20px;
    position:absolute; 
    top: 10%; 
    right: 0;
    transition: all 1s ease;
}

@media (max-width: 1250px) {
    .fashionHint2 {
    width: 250px; 
    margin-right: 20px;
    top: 75%; 
    right: 0;
    font-size: 12px;
}

.fashionHint {
    width: 250px; 
    top:90px; 
    left: 0;
    font-size: 12px;
}

.rightImg {
    /* top: 15%; 
    width:250px; 
    height: 300px; */
    display: none;
}

.leftImg {
    /* top: 50%; 
    width:250px; 
    height: 300px; */
    display: none;
}
} 
