*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.5s;
}

body {
    display: grid;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr auto;
    line-height: 1.7;
    grid-template-areas: 
    ' header header'
    'main main'
    'footer footer';
}
html {
    position: relative;
}

/* Landing page display */
.loadDisplay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 11111;
    transition: all 1s;
}

.loadDisplay .logoView {
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    transition: all 1s;
}

.loadDisplay .landingCloseBtn {
    font-size: 2em;
    color: aliceblue;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 111;
    border-radius: 50%;
    border: 1px solid aliceblue;
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loadDisplay .logoView img {
    width: 300px;
    position: absolute;
    top: 25%;
}

.loadDisplay .welcomeNote p {
    position: absolute;
    top: 22%;
}

.loadDisplay .welcomeNote {
    width: 50%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0; 
    right: -100%;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border-left: 1px solid white;
    transition: all 1s;
}


header {
    grid-area: header;
}

.logoProperty {
    display: flex;
    padding-left: 30px;
    height: 80px;
    flex-wrap: nowrap;
    line-height: 80px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px
}

#check {
    display:none;
}

.checkBtn {
    float: right;
    margin-right: 25px;
    color: aliceblue;
    font-size: 25px;
    line-height: 80px;
    order: 3;
    cursor: pointer;
    display: none;
}

.logoImage {
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow: 0 0 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoImage > img {
    width: 60px;
}

.logo {
    line-height: 80px;
    font-weight: 600;
    font-size: 30px;
    font-family: cursive; 
    color: aliceblue;
}

nav {
    height:80px;
    background-color: gray;
    transition: all 1.5s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index:1111 ;
}

nav > ul {
    float:right;
    margin-right:50px;
    line-height: 80px;
}

nav > ul > li {
    margin-right: 5px;
    display: inline-block;
    width: 80px;
}

nav > ul > .commonLi > a {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.5s ;
    position: relative;
}

nav > ul > .commonLi > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height:3px;
    background-color: aliceblue;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

nav > ul > .commonLi > a:hover::after {
    transform: scaleX(1);
}


/* ATTIRE PAGE STYLING */
main {
    grid-area: main;
    padding-bottom: 10px;
    padding-top: 90px;
}

/* FOOTER  */
.footer {
    background:black;
    grid-area: footer;
}

.footerMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.footerMain .company {
    display: flex;
    flex-direction: column;
}

.footerMain .company .companyIntro .info {
    color: aliceblue;
    margin-bottom: 15px;
}

.footerMain > article {
   padding-left: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.footerMain article:hover {
   background-color: rgb(240, 248, 255, 0.1);
}

.footerLogo {
    font-size:40px;
    font-weight:bolder;
}


.f{
    color:pink;
}

.style {
    color:rgb(40, 40, 196);
}
.footerMain ~ .socialMedias {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.footerMain ~ .socialMedias i {
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    padding: 8px;
}

.footerMain ~.socialMedias i:hover {
    background-color: rgba(240, 248, 255, 0.2);
}

.footerMain >article > h1 {
    color: white;
    text-align: left;
    margin-block-end: 10px;
}

.footerMain >article > ul > li {
     margin-block-end: 5px;
}

.footerMain >article > ul > li > a{
    color: white;
    font-weight: 200;
    transition: all 0.5s ease;
}

.footerMain >article > ul > li > a::after {
    content: '';
}

.footerMain >article > ul:not(.socialMedias) > li > a:hover {
    letter-spacing: 2px;
}

.footerMain .addressCont {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}


.footerMain .addressCont .tel {
    border-radius: 10px;
    box-shadow: 0 0 0 2px  white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footerMain .addressCont .tel:hover {
    background-color: gray;
    color: black;

}

#copyContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: aliceblue;
    margin-block-end: 5px;
}

.privacy {
    width: 200px;
    margin:0 auto ; 
    color: aliceblue;
    transition:all 0.5s ease;
}

.privacy a {
    padding-right: 5px;
    transition:all 0.5s ease;
    color: aliceblue;
}

.privacy:hover a {
    letter-spacing: 2px;
}

.privacy .fa-user-lock {
    color: aliceblue;
    background: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    padding: 5px;
    cursor:pointer;
    font-size: 10px;
}

.reserved {
    color: aliceblue;
    margin-left: 5px;
}

/* ABOUT PAGE STYLING */
.aboutArticle {
    width:60vw;
    margin: 0 auto;
}

.aboutAdsCloseBtn {
    color: rgb(173, 10, 10);
    background-color: white;
    font-size: 30px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px white;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top:-28px;
    right:-25px;
    z-index: 111;
}

.aboutAdsCloseBtn:hover  {
    background-color: black;
    color: white;
}

.beadsPageContainer {
    width: 80vw;
    margin: 0 auto;
}
/* BEADS PAGE */
.beadsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.beadsContainer .beads {
    overflow: hidden;
    box-shadow: 1px 1px 4px rgb(150, 123, 123);
    border-radius: 8px;
}

.beadsContainer .beads img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* LINGERIE PAGES */
.lingerPageContainer {
    width: 80vw;
    margin: 0 auto;
}
.lingerieContainer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.lingerieContainer .lingeries,
.beadsContainer .beads {
    overflow: hidden;
    box-shadow: 1.5px 1.5px 4px gray;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.lingerieContainer .lingeries .showCont, 
.beadsContainer .beads .showCont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    color: white;
    transition: all 0.8s;
    cursor: pointer;
}

.lingerieContainer .lingeries:hover .showCont,
.beadsContainer .beads:hover .showCont {
    right: 0;
} 


.lingerieContainer .lingeries img {
    width: 100%;
    height: 228.1px;
    object-fit: cover;
}

/* SHOW-CONT CARD */
.showMeLove {
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    gap: 10px;
}

.showMeLove .fa-share-alt, 
.showMeLove .fa-heart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    font-size: 20px;
}


.showMeLove .action_Count .fa-heart:hover{
    box-shadow: 1px 1px 3px 1px black;
    color: red;
}

.showMeLove .action_Count .fa-share-alt:hover {
    box-shadow: 1px 1px 3px 1px black;
    color: rgb(164, 240, 23);
}

.showMeLove .action_Count {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.showMeLove .needThis {
    border: none;
    outline: none;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(19, 135, 236);
    box-shadow: 1px 1px 3px 1px black;
    font-weight: 800;
    width: fit-content;
    height: fit-content;
}

.showMeLove .needThis:hover {
    background: rgb(83, 83, 190);
    color: aliceblue;
}

/* PAGE BOARD ADS DISPLAY */
main .BoardAds {
    display: grid;
    grid-template-columns:70% 25% ;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}

/* main .BoardAds .adsCards {
    flex-basis: 75%;
    cursor: pointer;
} */

.infoHolder {
    gap: 10px;
    justify-content: center;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 4px gray;
    border-radius: 8px;
    margin-block-end: 30px;
    width: 100%;
    display: none;
    grid-template-columns: 300px auto;
}


.infoHolder .productInfo_Action {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.infoHolder .productInfo_Action .inText {
    padding: 0 10px 0 0 ;
    overflow-wrap: break-word;
}
.infoHolder .productInfo_Action .actionBtns {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 40px 40px 1fr;
    gap: 10px;
}

.productInfo_Action .actionBtns .fa-heart,
.productInfo_Action .actionBtns .fa-share-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px black;
    font-size: 20px;
}

main .BoardAds .lingerImg {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

main .BoardAds .lingerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* SMALL CARD ADS */
main .smallAdsCards{
    display:flex;
    justify-content:center;
    align-items:center;
}

.aboutAds {
    position: fixed;
    top: 30%;
    left:25px;
}


.adsCont{
    width:220px;
    height:250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray;
}

.adsBox {
    width: 100%;
    height: 100%;
    position: relative;
}

main .adsCont .adsInfo {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    position: absolute;
    top: 200px; 
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: 111;
    transition: all 0.5s;
} 

main .adsCont .adsInfo:hover {
    top: 0; 
}

main .smallAdsCards .adsCont img {
    width: 100%;
}


/* RESPONSIVE STYLING */
@media(max-width:1191px) {
   .infoHolder {
     display: none;
     flex-direction: column;
   }
   .infoHolder .productInfo_Action {
    position: unset;
    padding-left: 10px;
    bottom: auto;
   }
    .infoHolder .productInfo_Action .actionBtns {
        position: unset;
        bottom: 0;
        display: grid;
        grid-template-columns: 40px 40px 1fr;
        gap: 10px;
    }
}

@media (max-width:995px) {
    .lingerPageContainer {
        width: 90vw;
    }
    main .BoardAds {
        display: flex;
        flex-direction: column;
        margin-block-end: 20px;
        justify-content: center;
        width: initial;
    }

    main .BoardAds .lingerImg {
        width: initial;
        /* height: 300px; */
        display: flex;
        justify-content: center;
        margin-block-end: 10px;
    }

    main .BoardAds .lingerImg img {
        width: 320px;
        object-fit: cover;
        border-radius:5px;
    }
}
@media (max-width:858px) {
    .checkBtn {
        display: block;
    }

    nav > ul {
        left: -100%;
        position: fixed;
        top: 80px;
        height: 100vh;
        width:80%;
        border-top: 1px solid white;
        background-color: rgba(128, 128, 128, 0.925);
        transition: all 0.5s ease;
        overflow: hidden;               
    }

    nav > ul > li {
        display: block;
        margin: 0;
        border:1px solid white;
        overflow: hidden;
        width: 100%;
    }

    nav > ul > .commonLi > a{
        padding: 32px 100% 32px 20px;
        border-radius: 0;
        color: rgb(12, 12, 12);
        text-transform: capitalize;
        font-size: 18px;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    nav > ul > .commonLi > a:hover {
        letter-spacing:3px;
        background-color: aliceblue;
        color: black;
    }
    #check:checked ~ ul {
        left: 0;
    }

    .footerMain {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content:space-around;
    }

    .footerMain > article {
        background-color: rgb(240, 248, 255, 0.1);
    }

    /* ABOUT PAGE */
    .aboutArticle {
        width: calc(60vw + 30%);
        padding: 0 20px;
    }
}

@media (max-width:650px) {
    .footerMain {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 30px;
    }

    .logoProperty {
        padding-left:calc(30px - 8%) ;
    }

    .logo {
        font-size: 16px;
    }
}
