*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.5s;
}

body {
    display: grid;
    min-block-size: 100vh;
    min-block-size: 100dvh;
    grid-template-columns:1fr;
    grid-template-rows: auto 1fr auto;
    line-height: 1.7;
    grid-template-areas: 
    ' header header'
    'main main'
    'footer footer';
}

header {
    grid-area: header;
}

.logoProperty {
    display: flex;
    width: 150px;
    height: 80px;
    flex-wrap: nowrap;
    line-height: 80px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px
}

#check {
    display:none;
}

.checkBtn {
    float: right;
    margin-right: 25px;
    color: aliceblue;
    font-size: 25px;
    line-height: 80px;
    order: 3;
    cursor: pointer;
    display: none;
}

.logoImage {
    width:40px;
    height:40px;
    border-radius:50%;
    box-shadow: 0 0 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logoImage > img {
    width: 60px;
}

.logo {
    line-height: 80px;
    font-size: 20px;
    color: aliceblue;
}

nav {
    height:80px;
    background-color: gray;
    transition: all 1.5s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index:1111 ;
}

nav > ul {
    float:right;
    margin-right:50px;
    line-height: 80px;
}

nav > ul > li {
    margin-right: 5px;
    display: inline-block;
    width: 80px;
}

nav > ul > .commonLi > a {
    color: aliceblue;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.5s ;
    position: relative;
}

nav > ul > .commonLi > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height:3px;
    background-color: aliceblue;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

nav > ul > .commonLi > a:hover::after {
    transform: scaleX(1);
}


/* ATTIRE PAGE STYLING */
main {
    grid-area: main;
    padding-bottom: 10px;
    padding-top: 90px;
}

/* FOOTER  */
.footer {
    background:black;
    grid-area: footer;
}

.footerMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.footerMain .company {
    display: flex;
    flex-direction: column;
}

.footerMain .company .companyIntro .info {
    color: aliceblue;
    margin-bottom: 15px;
}

.footerMain > article {
   padding-left: 10px;
   border-radius: 5px;
   cursor: pointer;
}

.footerMain article:hover {
   background-color: rgb(240, 248, 255, 0.1);
}

.footerLogo {
    font-size:40px;
    font-weight:bolder;
}


.f{
    color:pink;
}

.style {
    color:rgb(40, 40, 196);
}
.footerMain ~ .socialMedias {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.footerMain ~ .socialMedias i {
    font-size: 20px;
    color: aliceblue;
    border-radius: 5px;
    padding: 8px;
}

.footerMain ~.socialMedias i:hover {
    background-color: rgba(240, 248, 255, 0.2);
}

.footerMain >article > h1 {
    color: white;
    text-align: left;
    margin-block-end: 10px;
}

.footerMain >article > ul > li {
     margin-block-end: 5px;
}

.footerMain >article > ul > li > a{
    color: white;
    font-weight: 200;
    transition: all 0.5s ease;
}

.footerMain >article > ul > li > a::after {
    content: '';
}

.footerMain >article > ul:not(.socialMedias) > li > a:hover {
    letter-spacing: 2px;
}

.footerMain .addressCont {
    color:aliceblue;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
}


.footerMain .addressCont .tel {
    border-radius: 10px;
    box-shadow: 0 0 0 2px  white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.footerMain .addressCont .tel:hover {
    background-color: gray;
    color: black;

}

#copyContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    color: aliceblue;
    margin-block-end: 5px;
}

.privacy {
    width: 200px;
    margin:0 auto ; 
    color: aliceblue;
    transition:all 0.5s ease;
}

.privacy a {
    padding-right: 5px;
    transition:all 0.5s ease;
    color: aliceblue;
}

.privacy:hover a {
    letter-spacing: 2px;
}

.privacy .fa-user-lock {
    color: aliceblue;
    background: rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    padding: 5px;
    cursor:pointer;
    font-size: 10px;
}

.reserved {
    color: aliceblue;
    margin-left: 5px;
}

/* ABOUT PAGE STYLING */
.aboutArticle {
    width:60vw;
    margin: 0 auto;
}

/* BEADS PAGE */
.beadsContainer {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.beadsContainer .beads {
    overflow: hidden;
    box-shadow: 1px 1px 4px rgb(150, 123, 123);
    border-radius: 8px;
}

.beadsContainer .beads img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* LINGERIE PAGES */
.lingerPageContainer {
    width: 80vw;
    margin: 0 auto;
}
.lingerieContainer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.lingerieContainer .lingeries {
    overflow: hidden;
    box-shadow: 1.5px 1.5px 4px gray;
    border-radius: 8px;
}

.lingerieContainer .lingeries img {
    width: 100%;
    height: 228.1px;
    object-fit: cover;
}


/* PAGE BADGE */
main .lingeriesBadge {
    display: flex;
    gap: 10px;
}

main .lingeriesBadge .badgeInfo {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 300px;
    gap: 30px;
    overflow: hidden;
    box-shadow: 1.5px 1.5px 4px gray;
    border-radius: 8px;
    padding: 15px;
    margin-block-end: 30px;
    flex-basis: 75%;
    cursor: pointer;
}

main .badgeSingle{
    flex-basis: 25%; 
    display:flex;
    justify-content:center;
    align-items:center;
}


.badgeSingleImg{
    width:220px;
    height:250px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray;
}

.boxSingleImg {
    width: 100%;
    height: 100%;
    position: relative;
}

main .badgeSingleImg .badgeSingleInfo {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    position: absolute;
    top: 200px; 
    padding: 10px;
    width: 100%;
    height: 100%;
    z-index: 111;
    transition: all 0.5s;
} 

main .badgeSingleImg .badgeSingleInfo:hover {
    top: 0; 
}

/* .badgeSingleInfo .h3  {
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
} */

/* .badgeSingleInfo .textY {
    width: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all 1.5s ease;
} */


main .badgeSingle .badgeSingleImg img {
    width: 100%;
}
main .lingeriesBadge .lingerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RESPONSIVE STYLING */
@media (max-width:858px) {
    .checkBtn {
        display: block;
    }

    nav > ul {
        left: -100%;
        position: fixed;
        top: 80px;
        height: 100vh;
        width:80%;
        border-top: 1px solid white;
        background-color: rgb(7, 6, 6);
        transition: all 0.5s ease;
        overflow: hidden;
    }

    nav > ul > li {
        display: block;
        margin: 0;
        border:1px solid white;
        overflow: hidden;
        width: 100%;
    }

    nav > ul > .commonLi > a{
       padding: 32px 100% 32px 20px;
        border-radius: 0;
        color: aliceblue;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    nav > ul > .commonLi > a:hover {
        letter-spacing:3px;
        background-color: aliceblue;
        color: black;
    }
    #check:checked ~ ul {
        left: 0;
    }

    .footerMain {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content:space-around;
    }

    .footerMain > article {
        background-color: rgb(240, 248, 255, 0.1);
    }
}

@media (max-width:650px) {
    .footerMain {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 30px;
    }
}
